<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>perfect-namazvakitleri 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>perfect-namazvakitleri.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1642</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1703</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_800</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_815</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_823</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_824</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
